@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Registration of purchase</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td><p>Input your name </p></td>
                    <td><input type="text" name="Person" /></td>
                </tr>
                <tr>
                    <td><p>Input your address :</p></td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Buy" /></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
